@use "../../../css/functions" as *;

@media (min-width: 997px) {
  .docItemContainer {
    padding-top: rem(55px);
    padding-left: rem(40px);
  }

  .sidebar {
    padding-left: rem(55px);
  }
}

.docBody {
  min-width: 0;
}

.sidebar {
  position: relative;
}

.sidebarItems {
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 2rem);
  overflow-y: auto;
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
}

.edit {
  border-top: 1px solid var(--docs-title-border);
  padding: rem(20px) 0;
  margin: rem(20px) 0;
}

.tocIcon {
  display: block;
  width: rem(15px);
  height: rem(15px);
  color: var(--ifm-color-content-secondary);
  opacity: 0.7;
}

.versionBadge {
  margin-bottom: rem(10px);
  background-color: none;
  border: none;
  padding: 0;
  background: none;
  color: var(--ifm-color-content-secondary);
  font-weight: 400;
}
