openapi: 3.0.1
info:
  title: HTTP API Console
  description: ""
  version: 0.2.0
servers:
- url: http://rpc1.testnet1.source.network:1317/
tags:
- name: ACP
  description: Access Control Policy (ACP) message types
- name: Bulletin
  description: Bulletin module message types
paths:
  /sourcehub.acp.Msg/CheckAccess:
    post:
      tags:
      - ACP
      summary: CheckAccess executes an Access Request for an User
      description: |-
        The resulting evaluation is stored in SourceHub. It's used to generate a cryptographic proof that the given Access Request
        was valid at a particular block height.
      operationId: SourcehubAcpMsg_CheckAccess
      requestBody:
        content:
          '*/*':
            schema:
              type: object
              properties:
                creator:
                  type: string
                policy_id:
                  type: string
                creation_time:
                  type: string
                  format: date-time
                access_request:
                  title: AccessRequest represents the wish to perform a set of operations
                    by an actor
                  type: object
                  properties:
                    operations:
                      type: array
                      items:
                        type: object
                        properties:
                          object:
                            title: target object for operation
                            type: object
                            properties:
                              resource:
                                type: string
                              id:
                                type: string
                            description: Object represents an entity which must be
                              access controlled within a Policy.
                          permission:
                            title: permission required to perform operation
                            type: string
                        description: Operation represents an action over an object.
                    actor:
                      title: actor requesting operations
                      type: object
                      properties:
                        id:
                          type: string
                      description: Actor represents an entity which makes access requests
                        to a Policy.
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  decision:
                    title: AccessDecision models the result of evaluating a set of
                      AccessRequests for an Actor
                    type: object
                    properties:
                      id:
                        type: string
                      policy_id:
                        title: used as part of id generation
                        type: string
                      creator:
                        title: used as part of id generation
                        type: string
                      creator_acc_sequence:
                        title: used as part of id generation
                        type: string
                        format: uint64
                      operations:
                        title: used as part of id generation
                        type: array
                        items:
                          type: object
                          properties:
                            object:
                              title: target object for operation
                              type: object
                              properties:
                                resource:
                                  type: string
                                id:
                                  type: string
                              description: Object represents an entity which must
                                be access controlled within a Policy.
                            permission:
                              title: permission required to perform operation
                              type: string
                          description: Operation represents an action over an object.
                      actor_did:
                        title: used as part of id generation
                        type: string
                      actor:
                        title: used as part of id generation
                        type: string
                      params:
                        title: used as part of id generation
                        type: object
                        properties:
                          decision_expiration_delta:
                            title: number of blocks a Decision is valid for
                            type: string
                            format: uint64
                          proof_expiration_delta:
                            title: number of blocks a DecisionProof is valid for
                            type: string
                            format: uint64
                          ticket_expiration_delta:
                            title: number of blocks an AccessTicket is valid for
                            type: string
                            format: uint64
                      creation_time:
                        type: string
                        format: date-time
                      issued_height:
                        title: issued_height stores the block height when the Decision
                          was evaluated
                        type: string
                        format: uint64
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      additionalProperties:
                        type: object
      x-codegen-request-body-name: body
  /sourcehub.acp.Msg/CreatePolicy:
    post:
      tags:
      - ACP
      summary: |-
        CreatePolicy adds a new Policy.
      description: |-
        The Policy models an aplication's high level access control rules.
      operationId: SourcehubAcpMsg_CreatePolicy
      requestBody:
        content:
          '*/*':
            schema:
              type: object
              properties:
                creator:
                  type: string
                policy:
                  type: string
                marshal_type:
                  type: string
                  description: |-
                    PolicyEncodingType enumerates supported marshaling types for policies.

                     - UNKNOWN: Fallback value for a missing Marshaling Type
                     - SHORT_YAML: Policy Marshaled as a YAML Short Policy definition
                     - SHORT_JSON: Policy Marshaled as a JSON Short Policy definition
                  default: UNKNOWN
                  enum:
                  - UNKNOWN
                  - SHORT_YAML
                  - SHORT_JSON
                creation_time:
                  type: string
                  format: date-time
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  policy:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      creation_time:
                        type: string
                        format: date-time
                      attributes:
                        type: object
                        additionalProperties:
                          type: string
                      resources:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            doc:
                              type: string
                            permissions:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  doc:
                                    type: string
                                  expression:
                                    type: string
                                description: |-
                                  Permission models a special type of Relation which is evaluated at runtime.
                                  A permission often maps to an operation defined for a resource which an actor may attempt.
                            relations:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  doc:
                                    type: string
                                  manages:
                                    title: list of relations managed by the current
                                      relation
                                    type: array
                                    items:
                                      type: string
                                  vr_types:
                                    title: value restriction types
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        resource_name:
                                          title: resource_name scopes permissible
                                            actors resource
                                          type: string
                                        relation_name:
                                          title: relation_name scopes permissible
                                            actors relation
                                          type: string
                                      description: |-
                                        Restriction models a specification which a Relationship's actor
                                        should meet.
                          description: |-
                            Resource models a namespace for objects in a Policy.
                            Appications will have multiple entities which they must manage such as files or groups.
                            A Resource represents a set of entities of a certain type.
                      actor_resource:
                        type: object
                        properties:
                          name:
                            type: string
                          doc:
                            type: string
                          relations:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                doc:
                                  type: string
                                manages:
                                  title: list of relations managed by the current
                                    relation
                                  type: array
                                  items:
                                    type: string
                                vr_types:
                                  title: value restriction types
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      resource_name:
                                        title: resource_name scopes permissible actors
                                          resource
                                        type: string
                                      relation_name:
                                        title: relation_name scopes permissible actors
                                          relation
                                        type: string
                                    description: |-
                                      Restriction models a specification which a Relationship's actor
                                      should meet.
                        description: ActorResource represents a special Resource which
                          is reserved for Policy actors.
                      creator:
                        type: string
                    description: |-
                      Policy represents an ACP module Policy definition.
                      Each Policy defines a set of high level rules over how the acces control system
                      should behave.
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      additionalProperties:
                        type: object
      x-codegen-request-body-name: body
  /sourcehub.acp.Msg/DeleteRelationship:
    post:
      tags:
      - ACP
      summary: |-
        DelereRelationship removes a Relationship from a Policy.
      description: |-
         If the Relationship was not found in a Policy, this Msg is a no-op.
      operationId: SourcehubAcpMsg_DeleteRelationship
      requestBody:
        content:
          '*/*':
            schema:
              type: object
              properties:
                creator:
                  type: string
                policy_id:
                  type: string
                relationship:
                  type: object
                  properties:
                    object:
                      type: object
                      properties:
                        resource:
                          type: string
                        id:
                          type: string
                      description: Object represents an entity which must be access
                        controlled within a Policy.
                    relation:
                      type: string
                    subject:
                      type: object
                      properties:
                        actor:
                          type: object
                          properties:
                            id:
                              type: string
                          description: Actor represents an entity which makes access
                            requests to a Policy.
                        actor_set:
                          type: object
                          properties:
                            object:
                              type: object
                              properties:
                                resource:
                                  type: string
                                id:
                                  type: string
                              description: Object represents an entity which must
                                be access controlled within a Policy.
                            relation:
                              type: string
                          description: |-
                            ActorSet represents a set of Actors in a Policy.
                            It is specified through an Object, Relation pair, which represents
                            all actors which have a relationship with given obj-rel pair.
                            This expansion is recursive.
                        all_actors:
                          type: object
                          properties: {}
                          description: |-
                            AllActors models a special Relationship Subject which indicates
                            that all Actors in the Policy are included.
                        object:
                          type: object
                          properties:
                            resource:
                              type: string
                            id:
                              type: string
                          description: Object represents an entity which must be access
                            controlled within a Policy.
                      description: Subject specifies the target of a Relationship.
                  description: |-
                    Relationship models an access control rule.
                    It states that the given subject has relation with object.
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  record_found:
                    type: boolean
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      additionalProperties:
                        type: object
      x-codegen-request-body-name: body
  /sourcehub.acp.Msg/RegisterObject:
    post:
      tags:
      - ACP
      summary: RegisterObject creates a Relationship within a Policy.
      description: |-
        The Owner has complete control over the set of subjects that are related
        to their Object,

        giving them autonomy to share the object and revoke acces to the object,

        much like owners in a Discretionary Access Control model.

        Attempting to register a previously registered Object is an error,
        Object IDs are therefore assumed to be unique within a Policy.
      operationId: SourcehubAcpMsg_RegisterObject
      requestBody:
        content:
          '*/*':
            schema:
              type: object
              properties:
                creator:
                  type: string
                policy_id:
                  type: string
                object:
                  type: object
                  properties:
                    resource:
                      type: string
                    id:
                      type: string
                  description: Object represents an entity which must be access controlled
                    within a Policy.
                creation_time:
                  type: string
                  format: date-time
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  result:
                    title: RegistrationResult encodes the possible result set from
                      Registering an Object
                    type: string
                    description: |-
                      - NoOp: NoOp indicates no action was take. The operation failed or the Object already existed and was active
                       - Registered: Registered indicates the Object was sucessfuly registered to the Actor.
                       - Unarchived: Unarchived indicates that a previously deleted Object is active again.
                      Only the original owners can Unarchive an object.
                    default: NoOp
                    enum:
                    - NoOp
                    - Registered
                    - Unarchived
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      additionalProperties:
                        type: object
      x-codegen-request-body-name: body
  /sourcehub.acp.Msg/SetRelationship:
    post:
      tags:
      - ACP
      summary: SetRelationship creates or updates a Relationship within a Policy.
      description: |-
        A Relationship is a statement which ties together an object and a
        subjecto with a "relation",

        which means the set of high level rules defined in the Policy will apply
        to these entities.
      operationId: SourcehubAcpMsg_SetRelationship
      requestBody:
        content:
          '*/*':
            schema:
              type: object
              properties:
                creator:
                  type: string
                policy_id:
                  type: string
                creation_time:
                  type: string
                  format: date-time
                relationship:
                  type: object
                  properties:
                    object:
                      type: object
                      properties:
                        resource:
                          type: string
                        id:
                          type: string
                      description: Object represents an entity which must be access
                        controlled within a Policy.
                    relation:
                      type: string
                    subject:
                      type: object
                      properties:
                        actor:
                          type: object
                          properties:
                            id:
                              type: string
                          description: Actor represents an entity which makes access
                            requests to a Policy.
                        actor_set:
                          type: object
                          properties:
                            object:
                              type: object
                              properties:
                                resource:
                                  type: string
                                id:
                                  type: string
                              description: Object represents an entity which must
                                be access controlled within a Policy.
                            relation:
                              type: string
                          description: |-
                            ActorSet represents a set of Actors in a Policy.
                            It is specified through an Object, Relation pair, which represents
                            all actors which have a relationship with given obj-rel pair.
                            This expansion is recursive.
                        all_actors:
                          type: object
                          properties: {}
                          description: |-
                            AllActors models a special Relationship Subject which indicates
                            that all Actors in the Policy are included.
                        object:
                          type: object
                          properties:
                            resource:
                              type: string
                            id:
                              type: string
                          description: Object represents an entity which must be access
                            controlled within a Policy.
                      description: Subject specifies the target of a Relationship.
                  description: |-
                    Relationship models an access control rule.
                    It states that the given subject has relation with object.
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  record_existed:
                    title: "Indicates whether the given Relationship previously existed,\
                      \ ie the Tx was a no op"
                    type: boolean
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      additionalProperties:
                        type: object
      x-codegen-request-body-name: body
  /sourcehub.acp.Msg/UnregisterObject:
    post:
      tags:
      - ACP
      summary: UnregisterObject "unshare" a Object.
      description: |-
        A caveat is that after removing the Relationships, a record of the original Object owner
        is maintained to prevent an "ownership hijack" attack.

        Suppose Bob owns object Foo, which is shared with Bob but not Eve.
        Eve wants to access Foo but was not given permission to, they could "hijack" Bob's object by waiting for Bob to Unregister Foo,
        then submitting a RegisterObject Msg, effectively becoming Foo's new owner.
        If Charlie has a copy of the object, Eve could convince Charlie to share his copy, granting Eve access to Foo.
        The previous scenario where an unauthorized user is able to claim ownership to data previously unaccessible to them
        is an "ownership hijack".
      operationId: SourcehubAcpMsg_UnregisterObject
      requestBody:
        content:
          '*/*':
            schema:
              type: object
              properties:
                creator:
                  type: string
                policy_id:
                  type: string
                object:
                  type: object
                  properties:
                    resource:
                      type: string
                    id:
                      type: string
                  description: Object represents an entity which must be access controlled
                    within a Policy.
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  found:
                    type: boolean
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      additionalProperties:
                        type: object
      x-codegen-request-body-name: body
  /sourcehub.bulletin.Msg/CreatePost:
    post:
      tags:
      - Bulletin
      summary: Post to the Bulletin
      operationId: SourcehubBulletinMsg_CreatePost
      requestBody:
        content:
          '*/*':
            schema:
              type: object
              properties:
                creator:
                  type: string
                namespace:
                  type: string
                payload:
                  pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
                  type: string
                  format: byte
                proof:
                  pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
                  type: string
                  format: byte
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      additionalProperties:
                        type: object
      x-codegen-request-body-name: body
components:
  schemas:
    cosmos.auth.v1beta1.MsgUpdateParams:
      type: object
      properties:
        authority:
          type: string
          description: authority is the address that controls the module (defaults
            to x/gov unless overwritten).
        params:
          type: object
          properties:
            max_memo_characters:
              type: string
              format: uint64
            tx_sig_limit:
              type: string
              format: uint64
            tx_size_cost_per_byte:
              type: string
              format: uint64
            sig_verify_cost_ed25519:
              type: string
              format: uint64
            sig_verify_cost_secp256k1:
              type: string
              format: uint64
          description: |-
            params defines the x/auth parameters to update.

            NOTE: All parameters must be supplied.
      description: |-
        MsgUpdateParams is the Msg/UpdateParams request type.

        Since: cosmos-sdk 0.47
    cosmos.auth.v1beta1.MsgUpdateParamsResponse:
      type: object
      description: |-
        MsgUpdateParamsResponse defines the response structure for executing a
        MsgUpdateParams message.

        Since: cosmos-sdk 0.47
    cosmos.auth.v1beta1.Params:
      type: object
      properties:
        max_memo_characters:
          type: string
          format: uint64
        tx_sig_limit:
          type: string
          format: uint64
        tx_size_cost_per_byte:
          type: string
          format: uint64
        sig_verify_cost_ed25519:
          type: string
          format: uint64
        sig_verify_cost_secp256k1:
          type: string
          format: uint64
      description: Params defines the parameters for the auth module.
    google.protobuf.Any:
      type: object
      properties:
        '@type':
          type: string
          description: |-
            A URL/resource name that uniquely identifies the type of the serialized
            protocol buffer message. This string must contain at least
            one "/" character. The last segment of the URL's path must represent
            the fully qualified name of the type (as in
            `path/google.protobuf.Duration`). The name should be in a canonical form
            (e.g., leading "." is not accepted).

            In practice, teams usually precompile into the binary all types that they
            expect it to use in the context of Any. However, for URLs which use the
            scheme `http`, `https`, or no scheme, one can optionally set up a type
            server that maps type URLs to message definitions as follows:

            * If no scheme is provided, `https` is assumed.
            * An HTTP GET on the URL must yield a [google.protobuf.Type][]
              value in binary format, or produce an error.
            * Applications are allowed to cache lookup results based on the
              URL, or have them precompiled into a binary to avoid any
              lookup. Therefore, binary compatibility needs to be preserved
              on changes to types. (Use versioned type names to manage
              breaking changes.)

            Note: this functionality is not currently available in the official
            protobuf release, and it is not used for type URLs beginning with
            type.googleapis.com.

            Schemes other than `http`, `https` (or the empty scheme) might be
            used with implementation specific semantics.
      additionalProperties:
        type: object
      description: |-
        `Any` contains an arbitrary serialized protocol buffer message along with a
        URL that describes the type of the serialized message.

        Protobuf library provides support to pack/unpack Any values in the form
        of utility functions or additional generated methods of the Any type.

        Example 1: Pack and unpack a message in C++.

            Foo foo = ...;
            Any any;
            any.PackFrom(foo);
            ...
            if (any.UnpackTo(&foo)) {
              ...
            }

        Example 2: Pack and unpack a message in Java.

            Foo foo = ...;
            Any any = Any.pack(foo);
            ...
            if (any.is(Foo.class)) {
              foo = any.unpack(Foo.class);
            }
            // or ...
            if (any.isSameTypeAs(Foo.getDefaultInstance())) {
              foo = any.unpack(Foo.getDefaultInstance());
            }

        Example 3: Pack and unpack a message in Python.

            foo = Foo(...)
            any = Any()
            any.Pack(foo)
            ...
            if any.Is(Foo.DESCRIPTOR):
              any.Unpack(foo)
              ...

        Example 4: Pack and unpack a message in Go

             foo := &pb.Foo{...}
             any, err := anypb.New(foo)
             if err != nil {
               ...
             }
             ...
             foo := &pb.Foo{}
             if err := any.UnmarshalTo(foo); err != nil {
               ...
             }

        The pack methods provided by protobuf library will by default use
        'type.googleapis.com/full.type.name' as the type URL and the unpack
        methods only use the fully qualified type name after the last '/'
        in the type URL, for example "foo.bar.com/x/y.z" will yield type
        name "y.z".

        JSON

        The JSON representation of an `Any` value uses the regular
        representation of the deserialized, embedded message, with an
        additional field `@type` which contains the type URL. Example:

            package google.profile;
            message Person {
              string first_name = 1;
              string last_name = 2;
            }

            {
              "@type": "type.googleapis.com/google.profile.Person",
              "firstName": <string>,
              "lastName": <string>
            }

        If the embedded message type is well-known and has a custom JSON
        representation, that representation will be embedded adding a field
        `value` which holds the custom JSON in addition to the `@type`
        field. Example (for message [google.protobuf.Duration][]):

            {
              "@type": "type.googleapis.com/google.protobuf.Duration",
              "value": "1.212s"
            }
    google.rpc.Status:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            type: object
            additionalProperties:
              type: object
            description: |-
              `Any` contains an arbitrary serialized protocol buffer message along with a
              URL that describes the type of the serialized message.

              Protobuf library provides support to pack/unpack Any values in the form
              of utility functions or additional generated methods of the Any type.

              Example 1: Pack and unpack a message in C++.

                  Foo foo = ...;
                  Any any;
                  any.PackFrom(foo);
                  ...
                  if (any.UnpackTo(&foo)) {
                    ...
                  }

              Example 2: Pack and unpack a message in Java.

                  Foo foo = ...;
                  Any any = Any.pack(foo);
                  ...
                  if (any.is(Foo.class)) {
                    foo = any.unpack(Foo.class);
                  }
                  // or ...
                  if (any.isSameTypeAs(Foo.getDefaultInstance())) {
                    foo = any.unpack(Foo.getDefaultInstance());
                  }

              Example 3: Pack and unpack a message in Python.

                  foo = Foo(...)
                  any = Any()
                  any.Pack(foo)
                  ...
                  if any.Is(Foo.DESCRIPTOR):
                    any.Unpack(foo)
                    ...

              Example 4: Pack and unpack a message in Go

                   foo := &pb.Foo{...}
                   any, err := anypb.New(foo)
                   if err != nil {
                     ...
                   }
                   ...
                   foo := &pb.Foo{}
                   if err := any.UnmarshalTo(foo); err != nil {
                     ...
                   }

              The pack methods provided by protobuf library will by default use
              'type.googleapis.com/full.type.name' as the type URL and the unpack
              methods only use the fully qualified type name after the last '/'
              in the type URL, for example "foo.bar.com/x/y.z" will yield type
              name "y.z".

              JSON

              The JSON representation of an `Any` value uses the regular
              representation of the deserialized, embedded message, with an
              additional field `@type` which contains the type URL. Example:

                  package google.profile;
                  message Person {
                    string first_name = 1;
                    string last_name = 2;
                  }

                  {
                    "@type": "type.googleapis.com/google.profile.Person",
                    "firstName": <string>,
                    "lastName": <string>
                  }

              If the embedded message type is well-known and has a custom JSON
              representation, that representation will be embedded adding a field
              `value` which holds the custom JSON in addition to the `@type`
              field. Example (for message [google.protobuf.Duration][]):

                  {
                    "@type": "type.googleapis.com/google.protobuf.Duration",
                    "value": "1.212s"
                  }
    cosmos.authz.v1beta1.Grant:
      type: object
      properties:
        authorization:
          type: object
          additionalProperties:
            type: object
          description: |-
            `Any` contains an arbitrary serialized protocol buffer message along with a
            URL that describes the type of the serialized message.

            Protobuf library provides support to pack/unpack Any values in the form
            of utility functions or additional generated methods of the Any type.

            Example 1: Pack and unpack a message in C++.

                Foo foo = ...;
                Any any;
                any.PackFrom(foo);
                ...
                if (any.UnpackTo(&foo)) {
                  ...
                }

            Example 2: Pack and unpack a message in Java.

                Foo foo = ...;
                Any any = Any.pack(foo);
                ...
                if (any.is(Foo.class)) {
                  foo = any.unpack(Foo.class);
                }
                // or ...
                if (any.isSameTypeAs(Foo.getDefaultInstance())) {
                  foo = any.unpack(Foo.getDefaultInstance());
                }

            Example 3: Pack and unpack a message in Python.

                foo = Foo(...)
                any = Any()
                any.Pack(foo)
                ...
                if any.Is(Foo.DESCRIPTOR):
                  any.Unpack(foo)
                  ...

            Example 4: Pack and unpack a message in Go

                 foo := &pb.Foo{...}
                 any, err := anypb.New(foo)
                 if err != nil {
                   ...
                 }
                 ...
                 foo := &pb.Foo{}
                 if err := any.UnmarshalTo(foo); err != nil {
                   ...
                 }

            The pack methods provided by protobuf library will by default use
            'type.googleapis.com/full.type.name' as the type URL and the unpack
            methods only use the fully qualified type name after the last '/'
            in the type URL, for example "foo.bar.com/x/y.z" will yield type
            name "y.z".

            JSON

            The JSON representation of an `Any` value uses the regular
            representation of the deserialized, embedded message, with an
            additional field `@type` which contains the type URL. Example:

                package google.profile;
                message Person {
                  string first_name = 1;
                  string last_name = 2;
                }

                {
                  "@type": "type.googleapis.com/google.profile.Person",
                  "firstName": <string>,
                  "lastName": <string>
                }

            If the embedded message type is well-known and has a custom JSON
            representation, that representation will be embedded adding a field
            `value` which holds the custom JSON in addition to the `@type`
            field. Example (for message [google.protobuf.Duration][]):

                {
                  "@type": "type.googleapis.com/google.protobuf.Duration",
                  "value": "1.212s"
                }
        expiration:
          title: |-
            time when the grant will expire and will be pruned. If null, then the grant
            doesn't have a time expiration (other conditions  in `authorization`
            may apply to invalidate the grant)
          type: string
          format: date-time
      description: |-
        Grant gives permissions to execute
        the provide method with expiration time.
    cosmos.authz.v1beta1.MsgExec:
      type: object
      properties:
        grantee:
          type: string
        msgs:
          type: array
          description: |-
            Execute Msg.
            The x/authz will try to find a grant matching (msg.signers[0], grantee, MsgTypeURL(msg))
            triple and validate it.
          items:
            type: object
            additionalProperties:
              type: object
            description: |-
              `Any` contains an arbitrary serialized protocol buffer message along with a
              URL that describes the type of the serialized message.

              Protobuf library provides support to pack/unpack Any values in the form
              of utility functions or additional generated methods of the Any type.

              Example 1: Pack and unpack a message in C++.

                  Foo foo = ...;
                  Any any;
                  any.PackFrom(foo);
                  ...
                  if (any.UnpackTo(&foo)) {
                    ...
                  }

              Example 2: Pack and unpack a message in Java.

                  Foo foo = ...;
                  Any any = Any.pack(foo);
                  ...
                  if (any.is(Foo.class)) {
                    foo = any.unpack(Foo.class);
                  }
                  // or ...
                  if (any.isSameTypeAs(Foo.getDefaultInstance())) {
                    foo = any.unpack(Foo.getDefaultInstance());
                  }

              Example 3: Pack and unpack a message in Python.

                  foo = Foo(...)
                  any = Any()
                  any.Pack(foo)
                  ...
                  if any.Is(Foo.DESCRIPTOR):
                    any.Unpack(foo)
                    ...

              Example 4: Pack and unpack a message in Go

                   foo := &pb.Foo{...}
                   any, err := anypb.New(foo)
                   if err != nil {
                     ...
                   }
                   ...
                   foo := &pb.Foo{}
                   if err := any.UnmarshalTo(foo); err != nil {
                     ...
                   }

              The pack methods provided by protobuf library will by default use
              'type.googleapis.com/full.type.name' as the type URL and the unpack
              methods only use the fully qualified type name after the last '/'
              in the type URL, for example "foo.bar.com/x/y.z" will yield type
              name "y.z".

              JSON

              The JSON representation of an `Any` value uses the regular
              representation of the deserialized, embedded message, with an
              additional field `@type` which contains the type URL. Example:

                  package google.profile;
                  message Person {
                    string first_name = 1;
                    string last_name = 2;
                  }

                  {
                    "@type": "type.googleapis.com/google.profile.Person",
                    "firstName": <string>,
                    "lastName": <string>
                  }

              If the embedded message type is well-known and has a custom JSON
              representation, that representation will be embedded adding a field
              `value` which holds the custom JSON in addition to the `@type`
              field. Example (for message [google.protobuf.Duration][]):

                  {
                    "@type": "type.googleapis.com/google.protobuf.Duration",
                    "value": "1.212s"
                  }
      description: |-
        MsgExec attempts to execute the provided messages using
        authorizations granted to the grantee. Each message should have only
        one signer corresponding to the granter of the authorization.
    cosmos.authz.v1beta1.MsgExecResponse:
      type: object
      properties:
        results:
          type: array
          items:
            pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
            type: string
            format: byte
      description: MsgExecResponse defines the Msg/MsgExecResponse response type.
    cosmos.authz.v1beta1.MsgGrant:
      type: object
      properties:
        granter:
          type: string
        grantee:
          type: string
        grant:
          type: object
          properties:
            authorization:
              type: object
              additionalProperties:
                type: object
              description: |-
                `Any` contains an arbitrary serialized protocol buffer message along with a
                URL that describes the type of the serialized message.

                Protobuf library provides support to pack/unpack Any values in the form
                of utility functions or additional generated methods of the Any type.

                Example 1: Pack and unpack a message in C++.

                    Foo foo = ...;
                    Any any;
                    any.PackFrom(foo);
                    ...
                    if (any.UnpackTo(&foo)) {
                      ...
                    }

                Example 2: Pack and unpack a message in Java.

                    Foo foo = ...;
                    Any any = Any.pack(foo);
                    ...
                    if (any.is(Foo.class)) {
                      foo = any.unpack(Foo.class);
                    }
                    // or ...
                    if (any.isSameTypeAs(Foo.getDefaultInstance())) {
                      foo = any.unpack(Foo.getDefaultInstance());
                    }

                Example 3: Pack and unpack a message in Python.

                    foo = Foo(...)
                    any = Any()
                    any.Pack(foo)
                    ...
                    if any.Is(Foo.DESCRIPTOR):
                      any.Unpack(foo)
                      ...

                Example 4: Pack and unpack a message in Go

                     foo := &pb.Foo{...}
                     any, err := anypb.New(foo)
                     if err != nil {
                       ...
                     }
                     ...
                     foo := &pb.Foo{}
                     if err := any.UnmarshalTo(foo); err != nil {
                       ...
                     }

                The pack methods provided by protobuf library will by default use
                'type.googleapis.com/full.type.name' as the type URL and the unpack
                methods only use the fully qualified type name after the last '/'
                in the type URL, for example "foo.bar.com/x/y.z" will yield type
                name "y.z".

                JSON

                The JSON representation of an `Any` value uses the regular
                representation of the deserialized, embedded message, with an
                additional field `@type` which contains the type URL. Example:

                    package google.profile;
                    message Person {
                      string first_name = 1;
                      string last_name = 2;
                    }

                    {
                      "@type": "type.googleapis.com/google.profile.Person",
                      "firstName": <string>,
                      "lastName": <string>
                    }

                If the embedded message type is well-known and has a custom JSON
                representation, that representation will be embedded adding a field
                `value` which holds the custom JSON in addition to the `@type`
                field. Example (for message [google.protobuf.Duration][]):

                    {
                      "@type": "type.googleapis.com/google.protobuf.Duration",
                      "value": "1.212s"
                    }
            expiration:
              title: |-
                time when the grant will expire and will be pruned. If null, then the grant
                doesn't have a time expiration (other conditions  in `authorization`
                may apply to invalidate the grant)
              type: string
              format: date-time
          description: |-
            Grant gives permissions to execute
            the provide method with expiration time.
      description: |-
        MsgGrant is a request type for Grant method. It declares authorization to the grantee
        on behalf of the granter with the provided expiration time.
    cosmos.authz.v1beta1.MsgGrantResponse:
      type: object
      description: MsgGrantResponse defines the Msg/MsgGrant response type.
    cosmos.authz.v1beta1.MsgRevoke:
      type: object
      properties:
        granter:
          type: string
        grantee:
          type: string
        msg_type_url:
          type: string
      description: |-
        MsgRevoke revokes any authorization with the provided sdk.Msg type on the
        granter's account with that has been granted to the grantee.
    cosmos.authz.v1beta1.MsgRevokeResponse:
      type: object
      description: MsgRevokeResponse defines the Msg/MsgRevokeResponse response type.
    cosmos.bank.v1beta1.Input:
      type: object
      properties:
        address:
          type: string
        coins:
          type: array
          items:
            type: object
            properties:
              denom:
                type: string
              amount:
                type: string
            description: |-
              Coin defines a token with a denomination and an amount.

              NOTE: The amount field is an Int which implements the custom method
              signatures required by gogoproto.
      description: Input models transaction input.
    cosmos.bank.v1beta1.MsgMultiSend:
      type: object
      properties:
        inputs:
          type: array
          description: |-
            Inputs, despite being `repeated`, only allows one sender input. This is
            checked in MsgMultiSend's ValidateBasic.
          items:
            type: object
            properties:
              address:
                type: string
              coins:
                type: array
                items:
                  type: object
                  properties:
                    denom:
                      type: string
                    amount:
                      type: string
                  description: |-
                    Coin defines a token with a denomination and an amount.

                    NOTE: The amount field is an Int which implements the custom method
                    signatures required by gogoproto.
            description: Input models transaction input.
        outputs:
          type: array
          items:
            type: object
            properties:
              address:
                type: string
              coins:
                type: array
                items:
                  type: object
                  properties:
                    denom:
                      type: string
                    amount:
                      type: string
                  description: |-
                    Coin defines a token with a denomination and an amount.

                    NOTE: The amount field is an Int which implements the custom method
                    signatures required by gogoproto.
            description: Output models transaction outputs.
      description: "MsgMultiSend represents an arbitrary multi-in, multi-out send\
        \ message."
    cosmos.bank.v1beta1.MsgMultiSendResponse:
      type: object
      description: MsgMultiSendResponse defines the Msg/MultiSend response type.
    cosmos.bank.v1beta1.MsgSend:
      type: object
      properties:
        from_address:
          type: string
        to_address:
          type: string
        amount:
          type: array
          items:
            type: object
            properties:
              denom:
                type: string
              amount:
                type: string
            description: |-
              Coin defines a token with a denomination and an amount.

              NOTE: The amount field is an Int which implements the custom method
              signatures required by gogoproto.
      description: MsgSend represents a message to send coins from one account to
        another.
    cosmos.bank.v1beta1.MsgSendResponse:
      type: object
      description: MsgSendResponse defines the Msg/Send response type.
    cosmos.bank.v1beta1.MsgSetSendEnabled:
      type: object
      properties:
        authority:
          type: string
          description: authority is the address that controls the module.
        send_enabled:
          type: array
          description: send_enabled is the list of entries to add or update.
          items:
            type: object
            properties:
              denom:
                type: string
              enabled:
                type: boolean
            description: |-
              SendEnabled maps coin denom to a send_enabled status (whether a denom is
              sendable).
        use_default_for:
          type: array
          description: |-
            use_default_for is a list of denoms that should use the params.default_send_enabled value.
            Denoms listed here will have their SendEnabled entries deleted.
            If a denom is included that doesn't have a SendEnabled entry,
            it will be ignored.
          items:
            type: string
      description: |-
        MsgSetSendEnabled is the Msg/SetSendEnabled request type.

        Only entries to add/update/delete need to be included.
        Existing SendEnabled entries that are not included in this
        message are left unchanged.

        Since: cosmos-sdk 0.47
    cosmos.bank.v1beta1.MsgSetSendEnabledResponse:
      type: object
      description: |-
        MsgSetSendEnabledResponse defines the Msg/SetSendEnabled response type.

        Since: cosmos-sdk 0.47
    cosmos.bank.v1beta1.MsgUpdateParams:
      type: object
      properties:
        authority:
          type: string
          description: authority is the address that controls the module (defaults
            to x/gov unless overwritten).
        params:
          type: object
          properties:
            send_enabled:
              type: array
              description: |-
                Deprecated: Use of SendEnabled in params is deprecated.
                For genesis, use the newly added send_enabled field in the genesis object.
                Storage, lookup, and manipulation of this information is now in the keeper.

                As of cosmos-sdk 0.47, this only exists for backwards compatibility of genesis files.
              items:
                type: object
                properties:
                  denom:
                    type: string
                  enabled:
                    type: boolean
                description: |-
                  SendEnabled maps coin denom to a send_enabled status (whether a denom is
                  sendable).
            default_send_enabled:
              type: boolean
          description: |-
            params defines the x/bank parameters to update.

            NOTE: All parameters must be supplied.
      description: |-
        MsgUpdateParams is the Msg/UpdateParams request type.

        Since: cosmos-sdk 0.47
    cosmos.bank.v1beta1.MsgUpdateParamsResponse:
      type: object
      description: |-
        MsgUpdateParamsResponse defines the response structure for executing a
        MsgUpdateParams message.

        Since: cosmos-sdk 0.47
    cosmos.bank.v1beta1.Output:
      type: object
      properties:
        address:
          type: string
        coins:
          type: array
          items:
            type: object
            properties:
              denom:
                type: string
              amount:
                type: string
            description: |-
              Coin defines a token with a denomination and an amount.

              NOTE: The amount field is an Int which implements the custom method
              signatures required by gogoproto.
      description: Output models transaction outputs.
    cosmos.bank.v1beta1.Params:
      type: object
      properties:
        send_enabled:
          type: array
          description: |-
            Deprecated: Use of SendEnabled in params is deprecated.
            For genesis, use the newly added send_enabled field in the genesis object.
            Storage, lookup, and manipulation of this information is now in the keeper.

            As of cosmos-sdk 0.47, this only exists for backwards compatibility of genesis files.
          items:
            type: object
            properties:
              denom:
                type: string
              enabled:
                type: boolean
            description: |-
              SendEnabled maps coin denom to a send_enabled status (whether a denom is
              sendable).
        default_send_enabled:
          type: boolean
      description: Params defines the parameters for the bank module.
    cosmos.bank.v1beta1.SendEnabled:
      type: object
      properties:
        denom:
          type: string
        enabled:
          type: boolean
      description: |-
        SendEnabled maps coin denom to a send_enabled status (whether a denom is
        sendable).
    cosmos.base.v1beta1.Coin:
      type: object
      properties:
        denom:
          type: string
        amount:
          type: string
      description: |-
        Coin defines a token with a denomination and an amount.

        NOTE: The amount field is an Int which implements the custom method
        signatures required by gogoproto.
    cosmos.base.node.v1beta1.ConfigResponse:
      type: object
      properties:
        minimum_gas_price:
          type: string
        pruning_keep_recent:
          title: pruning settings
          type: string
        pruning_interval:
          type: string
      description: ConfigResponse defines the response structure for the Config gRPC
        query.
    cosmos.base.node.v1beta1.StatusResponse:
      type: object
      properties:
        earliest_store_height:
          title: earliest block height available in the store
          type: string
          format: uint64
        height:
          title: current block height
          type: string
          format: uint64
        timestamp:
          title: block height timestamp
          type: string
          format: date-time
        app_hash:
          title: app hash of the current block
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
          type: string
          format: byte
        validator_hash:
          title: validator hash provided by the consensus header
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
          type: string
          format: byte
      description: StateResponse defines the response structure for the status of
        a node.
    cosmos.consensus.v1.MsgUpdateParams:
      type: object
      properties:
        authority:
          type: string
          description: authority is the address that controls the module (defaults
            to x/gov unless overwritten).
        block:
          type: object
          properties:
            max_bytes:
              title: |-
                Max block size, in bytes.
                Note: must be greater than 0
              type: string
              format: int64
            max_gas:
              title: |-
                Max gas per block.
                Note: must be greater or equal to -1
              type: string
              format: int64
          description: |-
            params defines the x/consensus parameters to update.
            VersionsParams is not included in this Msg because it is tracked
            separarately in x/upgrade.

            NOTE: All parameters must be supplied.
        evidence:
          type: object
          properties:
            max_age_num_blocks:
              type: string
              description: |-
                Max age of evidence, in blocks.

                The basic formula for calculating this is: MaxAgeDuration / {average block
                time}.
              format: int64
            max_age_duration:
              type: string
              description: |-
                Max age of evidence, in time.

                It should correspond with an app's "unbonding period" or other similar
                mechanism for handling [Nothing-At-Stake
                attacks](https://github.com/ethereum/wiki/wiki/Proof-of-Stake-FAQ#what-is-the-nothing-at-stake-problem-and-how-can-it-be-fixed).
            max_bytes:
              title: |-
                This sets the maximum size of total evidence in bytes that can be committed in a single block.
                and should fall comfortably under the max block bytes.
                Default is 1048576 or 1MB
              type: string
              format: int64
          description: EvidenceParams determine how we handle evidence of malfeasance.
        validator:
          type: object
          properties:
            pub_key_types:
              type: array
              items:
                type: string
          description: |-
            ValidatorParams restrict the public key types validators can use.
            NOTE: uses ABCI pubkey naming, not Amino names.
        abci:
          title: "Since: cosmos-sdk 0.50"
          type: object
          properties:
            vote_extensions_enable_height:
              type: string
              description: |-
                vote_extensions_enable_height configures the first height during which
                vote extensions will be enabled. During this specified height, and for all
                subsequent heights, precommit messages that do not contain valid extension data
                will be considered invalid. Prior to this height, vote extensions will not
                be used or accepted by validators on the network.

                Once enabled, vote extensions will be created by the application in ExtendVote,
                passed to the application for validation in VerifyVoteExtension and given
                to the application to use when proposing a block during PrepareProposal.
              format: int64
          description: ABCIParams configure functionality specific to the Application
            Blockchain Interface.
      description: MsgUpdateParams is the Msg/UpdateParams request type.
    cosmos.consensus.v1.MsgUpdateParamsResponse:
      type: object
      description: |-
        MsgUpdateParamsResponse defines the response structure for executing a
        MsgUpdateParams message.
    tendermint.types.ABCIParams:
      type: object
      properties:
        vote_extensions_enable_height:
          type: string
          description: |-
            vote_extensions_enable_height configures the first height during which
            vote extensions will be enabled. During this specified height, and for all
            subsequent heights, precommit messages that do not contain valid extension data
            will be considered invalid. Prior to this height, vote extensions will not
            be used or accepted by validators on the network.

            Once enabled, vote extensions will be created by the application in ExtendVote,
            passed to the application for validation in VerifyVoteExtension and given
            to the application to use when proposing a block during PrepareProposal.
          format: int64
      description: ABCIParams configure functionality specific to the Application
        Blockchain Interface.
    tendermint.types.BlockParams:
      type: object
      properties:
        max_bytes:
          title: |-
            Max block size, in bytes.
            Note: must be greater than 0
          type: string
          format: int64
        max_gas:
          title: |-
            Max gas per block.
            Note: must be greater or equal to -1
          type: string
          format: int64
      description: BlockParams contains limits on the block size.
    tendermint.types.EvidenceParams:
      type: object
      properties:
        max_age_num_blocks:
          type: string
          description: |-
            Max age of evidence, in blocks.

            The basic formula for calculating this is: MaxAgeDuration / {average block
            time}.
          format: int64
        max_age_duration:
          type: string
          description: |-
            Max age of evidence, in time.

            It should correspond with an app's "unbonding period" or other similar
            mechanism for handling [Nothing-At-Stake
            attacks](https://github.com/ethereum/wiki/wiki/Proof-of-Stake-FAQ#what-is-the-nothing-at-stake-problem-and-how-can-it-be-fixed).
        max_bytes:
          title: |-
            This sets the maximum size of total evidence in bytes that can be committed in a single block.
            and should fall comfortably under the max block bytes.
            Default is 1048576 or 1MB
          type: string
          format: int64
      description: EvidenceParams determine how we handle evidence of malfeasance.
    tendermint.types.ValidatorParams:
      type: object
      properties:
        pub_key_types:
          type: array
          items:
            type: string
      description: |-
        ValidatorParams restrict the public key types validators can use.
        NOTE: uses ABCI pubkey naming, not Amino names.
    cosmos.crisis.v1beta1.MsgUpdateParams:
      type: object
      properties:
        authority:
          type: string
          description: authority is the address that controls the module (defaults
            to x/gov unless overwritten).
        constant_fee:
          type: object
          properties:
            denom:
              type: string
            amount:
              type: string
          description: constant_fee defines the x/crisis parameter.
      description: |-
        MsgUpdateParams is the Msg/UpdateParams request type.

        Since: cosmos-sdk 0.47
    cosmos.crisis.v1beta1.MsgUpdateParamsResponse:
      type: object
      description: |-
        MsgUpdateParamsResponse defines the response structure for executing a
        MsgUpdateParams message.

        Since: cosmos-sdk 0.47
    cosmos.crisis.v1beta1.MsgVerifyInvariant:
      type: object
      properties:
        sender:
          type: string
          description: sender is the account address of private key to send coins
            to fee collector account.
        invariant_module_name:
          type: string
          description: name of the invariant module.
        invariant_route:
          type: string
          description: invariant_route is the msg's invariant route.
      description: MsgVerifyInvariant represents a message to verify a particular
        invariance.
    cosmos.crisis.v1beta1.MsgVerifyInvariantResponse:
      type: object
      description: MsgVerifyInvariantResponse defines the Msg/VerifyInvariant response
        type.
    cosmos.distribution.v1beta1.MsgCommunityPoolSpend:
      type: object
      properties:
        authority:
          type: string
          description: authority is the address that controls the module (defaults
            to x/gov unless overwritten).
        recipient:
          type: string
        amount:
          type: array
          items:
            type: object
            properties:
              denom:
                type: string
              amount:
                type: string
            description: |-
              Coin defines a token with a denomination and an amount.

              NOTE: The amount field is an Int which implements the custom method
              signatures required by gogoproto.
      description: |-
        MsgCommunityPoolSpend defines a message for sending tokens from the community
        pool to another account. This message is typically executed via a governance
        proposal with the governance module being the executing authority.

        Since: cosmos-sdk 0.47
    cosmos.distribution.v1beta1.MsgCommunityPoolSpendResponse:
      type: object
      description: |-
        MsgCommunityPoolSpendResponse defines the response to executing a
        MsgCommunityPoolSpend message.

        Since: cosmos-sdk 0.47
    cosmos.distribution.v1beta1.MsgDepositValidatorRewardsPool:
      type: object
      properties:
        depositor:
          type: string
        validator_address:
          type: string
        amount:
          type: array
          items:
            type: object
            properties:
              denom:
                type: string
              amount:
                type: string
            description: |-
              Coin defines a token with a denomination and an amount.

              NOTE: The amount field is an Int which implements the custom method
              signatures required by gogoproto.
      description: |-
        DepositValidatorRewardsPool defines the request structure to provide
        additional rewards to delegators from a specific validator.

        Since: cosmos-sdk 0.50
    cosmos.distribution.v1beta1.MsgDepositValidatorRewardsPoolResponse:
      type: object
      description: |-
        MsgDepositValidatorRewardsPoolResponse defines the response to executing a
        MsgDepositValidatorRewardsPool message.

        Since: cosmos-sdk 0.50
    cosmos.distribution.v1beta1.MsgFundCommunityPool:
      type: object
      properties:
        amount:
          type: array
          items:
            type: object
            properties:
              denom:
                type: string
              amount:
                type: string
            description: |-
              Coin defines a token with a denomination and an amount.

              NOTE: The amount field is an Int which implements the custom method
              signatures required by gogoproto.
        depositor:
          type: string
      description: |-
        MsgFundCommunityPool allows an account to directly
        fund the community pool.
    cosmos.distribution.v1beta1.MsgFundCommunityPoolResponse:
      type: object
      description: MsgFundCommunityPoolResponse defines the Msg/FundCommunityPool
        response type.
    cosmos.distribution.v1beta1.MsgSetWithdrawAddress:
      type: object
      properties:
        delegator_address:
          type: string
        withdraw_address:
          type: string
      description: |-
        MsgSetWithdrawAddress sets the withdraw address for
        a delegator (or validator self-delegation).
    cosmos.distribution.v1beta1.MsgSetWithdrawAddressResponse:
      type: object
      description: |-
        MsgSetWithdrawAddressResponse defines the Msg/SetWithdrawAddress response
        type.
    cosmos.distribution.v1beta1.MsgUpdateParams:
      type: object
      properties:
        authority:
          type: string
          description: authority is the address that controls the module (defaults
            to x/gov unless overwritten).
        params:
          type: object
          properties:
            community_tax:
              type: string
            base_proposer_reward:
              type: string
              description: |-
                Deprecated: The base_proposer_reward field is deprecated and is no longer used
                in the x/distribution module's reward mechanism.
            bonus_proposer_reward:
              type: string
              description: |-
                Deprecated: The bonus_proposer_reward field is deprecated and is no longer used
                in the x/distribution module's reward mechanism.
            withdraw_addr_enabled:
              type: boolean
          description: |-
            params defines the x/distribution parameters to update.

            NOTE: All parameters must be supplied.
      description: |-
        MsgUpdateParams is the Msg/UpdateParams request type.

        Since: cosmos-sdk 0.47
    cosmos.distribution.v1beta1.MsgUpdateParamsResponse:
      type: object
      description: |-
        MsgUpdateParamsResponse defines the response structure for executing a
        MsgUpdateParams message.

        Since: cosmos-sdk 0.47
    cosmos.distribution.v1beta1.MsgWithdrawDelegatorReward:
      type: object
      properties:
        delegator_address:
          type: string
        validator_address:
          type: string
      description: |-
        MsgWithdrawDelegatorReward represents delegation withdrawal to a delegator
        from a single validator.
    cosmos.distribution.v1beta1.MsgWithdrawDelegatorRewardResponse:
      type: object
      properties:
        amount:
          title: "Since: cosmos-sdk 0.46"
          type: array
          items:
            type: object
            properties:
              denom:
                type: string
              amount:
                type: string
            description: |-
              Coin defines a token with a denomination and an amount.

              NOTE: The amount field is an Int which implements the custom method
              signatures required by gogoproto.
      description: |-
        MsgWithdrawDelegatorRewardResponse defines the Msg/WithdrawDelegatorReward
        response type.
    cosmos.distribution.v1beta1.MsgWithdrawValidatorCommission:
      type: object
      properties:
        validator_address:
          type: string
      description: |-
        MsgWithdrawValidatorCommission withdraws the full commission to the validator
        address.
    cosmos.distribution.v1beta1.MsgWithdrawValidatorCommissionResponse:
      type: object
      properties:
        amount:
          title: "Since: cosmos-sdk 0.46"
          type: array
          items:
            type: object
            properties:
              denom:
                type: string
              amount:
                type: string
            description: |-
              Coin defines a token with a denomination and an amount.

              NOTE: The amount field is an Int which implements the custom method
              signatures required by gogoproto.
      description: |-
        MsgWithdrawValidatorCommissionResponse defines the
        Msg/WithdrawValidatorCommission response type.
    cosmos.distribution.v1beta1.Params:
      type: object
      properties:
        community_tax:
          type: string
        base_proposer_reward:
          type: string
          description: |-
            Deprecated: The base_proposer_reward field is deprecated and is no longer used
            in the x/distribution module's reward mechanism.
        bonus_proposer_reward:
          type: string
          description: |-
            Deprecated: The bonus_proposer_reward field is deprecated and is no longer used
            in the x/distribution module's reward mechanism.
        withdraw_addr_enabled:
          type: boolean
      description: Params defines the set of params for the distribution module.
    cosmos.evidence.v1beta1.MsgSubmitEvidence:
      type: object
      properties:
        submitter:
          type: string
          description: submitter is the signer account address of evidence.
        evidence:
          type: object
          additionalProperties:
            type: object
          description: evidence defines the evidence of misbehavior.
      description: |-
        MsgSubmitEvidence represents a message that supports submitting arbitrary
        Evidence of misbehavior such as equivocation or counterfactual signing.
    cosmos.evidence.v1beta1.MsgSubmitEvidenceResponse:
      type: object
      properties:
        hash:
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
          type: string
          description: hash defines the hash of the evidence.
          format: byte
      description: MsgSubmitEvidenceResponse defines the Msg/SubmitEvidence response
        type.
    cosmos.feegrant.v1beta1.MsgGrantAllowance:
      type: object
      properties:
        granter:
          type: string
          description: granter is the address of the user granting an allowance of
            their funds.
        grantee:
          type: string
          description: grantee is the address of the user being granted an allowance
            of another user's funds.
        allowance:
          type: object
          additionalProperties:
            type: object
          description: "allowance can be any of basic, periodic, allowed fee allowance."
      description: |-
        MsgGrantAllowance adds permission for Grantee to spend up to Allowance
        of fees from the account of Granter.
    cosmos.feegrant.v1beta1.MsgGrantAllowanceResponse:
      type: object
      description: MsgGrantAllowanceResponse defines the Msg/GrantAllowanceResponse
        response type.
    cosmos.feegrant.v1beta1.MsgPruneAllowances:
      type: object
      properties:
        pruner:
          type: string
          description: pruner is the address of the user pruning expired allowances.
      description: |-
        MsgPruneAllowances prunes expired fee allowances.

        Since cosmos-sdk 0.50
    cosmos.feegrant.v1beta1.MsgPruneAllowancesResponse:
      type: object
      description: |-
        MsgPruneAllowancesResponse defines the Msg/PruneAllowancesResponse response type.

        Since cosmos-sdk 0.50
    cosmos.feegrant.v1beta1.MsgRevokeAllowance:
      type: object
      properties:
        granter:
          type: string
          description: granter is the address of the user granting an allowance of
            their funds.
        grantee:
          type: string
          description: grantee is the address of the user being granted an allowance
            of another user's funds.
      description: MsgRevokeAllowance removes any existing Allowance from Granter
        to Grantee.
    cosmos.feegrant.v1beta1.MsgRevokeAllowanceResponse:
      type: object
      description: MsgRevokeAllowanceResponse defines the Msg/RevokeAllowanceResponse
        response type.
    cosmos.gov.v1.MsgCancelProposal:
      type: object
      properties:
        proposal_id:
          type: string
          description: proposal_id defines the unique id of the proposal.
          format: uint64
        proposer:
          type: string
          description: proposer is the account address of the proposer.
      description: |-
        MsgCancelProposal is the Msg/CancelProposal request type.

        Since: cosmos-sdk 0.50
    cosmos.gov.v1.MsgCancelProposalResponse:
      type: object
      properties:
        proposal_id:
          type: string
          description: proposal_id defines the unique id of the proposal.
          format: uint64
        canceled_time:
          type: string
          description: canceled_time is the time when proposal is canceled.
          format: date-time
        canceled_height:
          type: string
          description: canceled_height defines the block height at which the proposal
            is canceled.
          format: uint64
      description: |-
        MsgCancelProposalResponse defines the response structure for executing a
        MsgCancelProposal message.

        Since: cosmos-sdk 0.50
    cosmos.gov.v1.MsgDeposit:
      type: object
      properties:
        proposal_id:
          type: string
          description: proposal_id defines the unique id of the proposal.
          format: uint64
        depositor:
          type: string
          description: depositor defines the deposit addresses from the proposals.
        amount:
          type: array
          description: amount to be deposited by depositor.
          items:
            type: object
            properties:
              denom:
                type: string
              amount:
                type: string
            description: |-
              Coin defines a token with a denomination and an amount.

              NOTE: The amount field is an Int which implements the custom method
              signatures required by gogoproto.
      description: MsgDeposit defines a message to submit a deposit to an existing
        proposal.
    cosmos.gov.v1.MsgDepositResponse:
      type: object
      description: MsgDepositResponse defines the Msg/Deposit response type.
    cosmos.gov.v1.MsgExecLegacyContent:
      type: object
      properties:
        content:
          type: object
          additionalProperties:
            type: object
          description: content is the proposal's content.
        authority:
          type: string
          description: authority must be the gov module address.
      description: |-
        MsgExecLegacyContent is used to wrap the legacy content field into a message.
        This ensures backwards compatibility with v1beta1.MsgSubmitProposal.
    cosmos.gov.v1.MsgExecLegacyContentResponse:
      type: object
      description: MsgExecLegacyContentResponse defines the Msg/ExecLegacyContent
        response type.
    cosmos.gov.v1.MsgSubmitProposal:
      type: object
      properties:
        messages:
          type: array
          description: messages are the arbitrary messages to be executed if proposal
            passes.
          items:
            type: object
            additionalProperties:
              type: object
            description: |-
              `Any` contains an arbitrary serialized protocol buffer message along with a
              URL that describes the type of the serialized message.

              Protobuf library provides support to pack/unpack Any values in the form
              of utility functions or additional generated methods of the Any type.

              Example 1: Pack and unpack a message in C++.

                  Foo foo = ...;
                  Any any;
                  any.PackFrom(foo);
                  ...
                  if (any.UnpackTo(&foo)) {
                    ...
                  }

              Example 2: Pack and unpack a message in Java.

                  Foo foo = ...;
                  Any any = Any.pack(foo);
                  ...
                  if (any.is(Foo.class)) {
                    foo = any.unpack(Foo.class);
                  }
                  // or ...
                  if (any.isSameTypeAs(Foo.getDefaultInstance())) {
                    foo = any.unpack(Foo.getDefaultInstance());
                  }

              Example 3: Pack and unpack a message in Python.

                  foo = Foo(...)
                  any = Any()
                  any.Pack(foo)
                  ...
                  if any.Is(Foo.DESCRIPTOR):
                    any.Unpack(foo)
                    ...

              Example 4: Pack and unpack a message in Go

                   foo := &pb.Foo{...}
                   any, err := anypb.New(foo)
                   if err != nil {
                     ...
                   }
                   ...
                   foo := &pb.Foo{}
                   if err := any.UnmarshalTo(foo); err != nil {
                     ...
                   }

              The pack methods provided by protobuf library will by default use
              'type.googleapis.com/full.type.name' as the type URL and the unpack
              methods only use the fully qualified type name after the last '/'
              in the type URL, for example "foo.bar.com/x/y.z" will yield type
              name "y.z".

              JSON

              The JSON representation of an `Any` value uses the regular
              representation of the deserialized, embedded message, with an
              additional field `@type` which contains the type URL. Example:

                  package google.profile;
                  message Person {
                    string first_name = 1;
                    string last_name = 2;
                  }

                  {
                    "@type": "type.googleapis.com/google.profile.Person",
                    "firstName": <string>,
                    "lastName": <string>
                  }

              If the embedded message type is well-known and has a custom JSON
              representation, that representation will be embedded adding a field
              `value` which holds the custom JSON in addition to the `@type`
              field. Example (for message [google.protobuf.Duration][]):

                  {
                    "@type": "type.googleapis.com/google.protobuf.Duration",
                    "value": "1.212s"
                  }
        initial_deposit:
          type: array
          description: initial_deposit is the deposit value that must be paid at proposal
            submission.
          items:
            type: object
            properties:
              denom:
                type: string
              amount:
                type: string
            description: |-
              Coin defines a token with a denomination and an amount.

              NOTE: The amount field is an Int which implements the custom method
              signatures required by gogoproto.
        proposer:
          type: string
          description: proposer is the account address of the proposer.
        metadata:
          type: string
          description: metadata is any arbitrary metadata attached to the proposal.
        title:
          type: string
          description: |-
            title is the title of the proposal.

            Since: cosmos-sdk 0.47
        summary:
          title: summary is the summary of the proposal
          type: string
          description: "Since: cosmos-sdk 0.47"
        expedited:
          title: expedited defines if the proposal is expedited or not
          type: boolean
          description: "Since: cosmos-sdk 0.50"
      description: |-
        MsgSubmitProposal defines an sdk.Msg type that supports submitting arbitrary
        proposal Content.
    cosmos.gov.v1.MsgSubmitProposalResponse:
      type: object
      properties:
        proposal_id:
          type: string
          description: proposal_id defines the unique id of the proposal.
          format: uint64
      description: MsgSubmitProposalResponse defines the Msg/SubmitProposal response
        type.
    cosmos.gov.v1.MsgUpdateParams:
      type: object
      properties:
        authority:
          type: string
          description: authority is the address that controls the module (defaults
            to x/gov unless overwritten).
        params:
          type: object
          properties:
            min_deposit:
              type: array
              description: Minimum deposit for a proposal to enter voting period.
              items:
                type: object
                properties:
                  denom:
                    type: string
                  amount:
                    type: string
                description: |-
                  Coin defines a token with a denomination and an amount.

                  NOTE: The amount field is an Int which implements the custom method
                  signatures required by gogoproto.
            max_deposit_period:
              type: string
              description: |-
                Maximum period for Atom holders to deposit on a proposal. Initial value: 2
                months.
            voting_period:
              type: string
              description: Duration of the voting period.
            quorum:
              type: string
              description: |-
                Minimum percentage of total stake needed to vote for a result to be
                 considered valid.
            threshold:
              type: string
              description: "Minimum proportion of Yes votes for proposal to pass.\
                \ Default value: 0.5."
            veto_threshold:
              type: string
              description: |-
                Minimum value of Veto votes to Total votes ratio for proposal to be
                 vetoed. Default value: 1/3.
            min_initial_deposit_ratio:
              type: string
              description: The ratio representing the proportion of the deposit value
                that must be paid at proposal submission.
            proposal_cancel_ratio:
              type: string
              description: |-
                The cancel ratio which will not be returned back to the depositors when a proposal is cancelled.

                Since: cosmos-sdk 0.50
            proposal_cancel_dest:
              type: string
              description: |-
                The address which will receive (proposal_cancel_ratio * deposit) proposal deposits.
                If empty, the (proposal_cancel_ratio * deposit) proposal deposits will be burned.

                Since: cosmos-sdk 0.50
            expedited_voting_period:
              type: string
              description: |-
                Duration of the voting period of an expedited proposal.

                Since: cosmos-sdk 0.50
            expedited_threshold:
              type: string
              description: |-
                Minimum proportion of Yes votes for proposal to pass. Default value: 0.67.

                Since: cosmos-sdk 0.50
            expedited_min_deposit:
              type: array
              description: Minimum expedited deposit for a proposal to enter voting
                period.
              items:
                type: object
                properties:
                  denom:
                    type: string
                  amount:
                    type: string
                description: |-
                  Coin defines a token with a denomination and an amount.

                  NOTE: The amount field is an Int which implements the custom method
                  signatures required by gogoproto.
            burn_vote_quorum:
              title: burn deposits if a proposal does not meet quorum
              type: boolean
            burn_proposal_deposit_prevote:
              title: burn deposits if the proposal does not enter voting period
              type: boolean
            burn_vote_veto:
              title: burn deposits if quorum with vote type no_veto is met
              type: boolean
            min_deposit_ratio:
              type: string
              description: |-
                The ratio representing the proportion of the deposit value minimum that must be met when making a deposit.
                Default value: 0.01. Meaning that for a chain with a min_deposit of 100stake, a deposit of 1stake would be
                required.

                Since: cosmos-sdk 0.50
          description: |-
            params defines the x/gov parameters to update.

            NOTE: All parameters must be supplied.
      description: |-
        MsgUpdateParams is the Msg/UpdateParams request type.

        Since: cosmos-sdk 0.47
    cosmos.gov.v1.MsgUpdateParamsResponse:
      type: object
      description: |-
        MsgUpdateParamsResponse defines the response structure for executing a
        MsgUpdateParams message.

        Since: cosmos-sdk 0.47
    cosmos.gov.v1.MsgVote:
      type: object
      properties:
        proposal_id:
          type: string
          description: proposal_id defines the unique id of the proposal.
          format: uint64
        voter:
          type: string
          description: voter is the voter address for the proposal.
        option:
          type: string
          description: option defines the vote option.
          default: VOTE_OPTION_UNSPECIFIED
          enum:
          - VOTE_OPTION_UNSPECIFIED
          - VOTE_OPTION_YES
          - VOTE_OPTION_ABSTAIN
          - VOTE_OPTION_NO
          - VOTE_OPTION_NO_WITH_VETO
        metadata:
          type: string
          description: metadata is any arbitrary metadata attached to the Vote.
      description: MsgVote defines a message to cast a vote.
    cosmos.gov.v1.MsgVoteResponse:
      type: object
      description: MsgVoteResponse defines the Msg/Vote response type.
    cosmos.gov.v1.MsgVoteWeighted:
      type: object
      properties:
        proposal_id:
          type: string
          description: proposal_id defines the unique id of the proposal.
          format: uint64
        voter:
          type: string
          description: voter is the voter address for the proposal.
        options:
          type: array
          description: options defines the weighted vote options.
          items:
            type: object
            properties:
              option:
                type: string
                description: "option defines the valid vote options, it must not contain\
                  \ duplicate vote options."
                default: VOTE_OPTION_UNSPECIFIED
                enum:
                - VOTE_OPTION_UNSPECIFIED
                - VOTE_OPTION_YES
                - VOTE_OPTION_ABSTAIN
                - VOTE_OPTION_NO
                - VOTE_OPTION_NO_WITH_VETO
              weight:
                type: string
                description: weight is the vote weight associated with the vote option.
            description: WeightedVoteOption defines a unit of vote for vote split.
        metadata:
          type: string
          description: metadata is any arbitrary metadata attached to the VoteWeighted.
      description: MsgVoteWeighted defines a message to cast a vote.
    cosmos.gov.v1.MsgVoteWeightedResponse:
      type: object
      description: MsgVoteWeightedResponse defines the Msg/VoteWeighted response type.
    cosmos.gov.v1.Params:
      type: object
      properties:
        min_deposit:
          type: array
          description: Minimum deposit for a proposal to enter voting period.
          items:
            type: object
            properties:
              denom:
                type: string
              amount:
                type: string
            description: |-
              Coin defines a token with a denomination and an amount.

              NOTE: The amount field is an Int which implements the custom method
              signatures required by gogoproto.
        max_deposit_period:
          type: string
          description: |-
            Maximum period for Atom holders to deposit on a proposal. Initial value: 2
            months.
        voting_period:
          type: string
          description: Duration of the voting period.
        quorum:
          type: string
          description: |-
            Minimum percentage of total stake needed to vote for a result to be
             considered valid.
        threshold:
          type: string
          description: "Minimum proportion of Yes votes for proposal to pass. Default\
            \ value: 0.5."
        veto_threshold:
          type: string
          description: |-
            Minimum value of Veto votes to Total votes ratio for proposal to be
             vetoed. Default value: 1/3.
        min_initial_deposit_ratio:
          type: string
          description: The ratio representing the proportion of the deposit value
            that must be paid at proposal submission.
        proposal_cancel_ratio:
          type: string
          description: |-
            The cancel ratio which will not be returned back to the depositors when a proposal is cancelled.

            Since: cosmos-sdk 0.50
        proposal_cancel_dest:
          type: string
          description: |-
            The address which will receive (proposal_cancel_ratio * deposit) proposal deposits.
            If empty, the (proposal_cancel_ratio * deposit) proposal deposits will be burned.

            Since: cosmos-sdk 0.50
        expedited_voting_period:
          type: string
          description: |-
[...]
