@use "../../css/utils" as *;

.toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(32px);
  height: rem(32px);
  padding: 0;
  border: none;
  border-radius: 50%;
  background: transparent;
  color: var(--ifm-color-emphasis-700);
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  opacity: 0.9;

  svg {
    width: rem(23px);
    height: rem(23px);
    fill: none;
    stroke: currentColor;
  }

  &:hover {
    opacity: 1;
    background-color: var(--ifm-color-emphasis-200);
    color: var(--ifm-color-emphasis-900);
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 rem(2px) var(--ifm-color-primary);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

[data-theme="light"] .dark,
[data-theme="dark"] .light {
  display: none;
}
