// Any CSS included here will be global. The classic template bundles Infima
// by default. Infima is a CSS framework designed to work well for
// content-centric websites.
@use "./variables";
@use "./utilities";
@use "./navbar";
@use "./sidebar";
@use "./breadcrumbs";
@use "./footer";
@use "./pagination";
@use "./toc-mobile";
@use "./admonitions";
@use "./search";
@use "./code-blocks";
@use "./markdown";
@use "./feedback-widget";

// Fonts

@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

// Base typography

html,
body {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

