// Custom vars
:root {
  --card-color: rgb(255, 255, 255, 0.9);
  --card-border-color: #e8e8e8;
  --card-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --card-box-shadow-highlight: 0 2px 25px rgba(31, 96, 233, 0.05);
}

html[data-theme="dark"] {
  --card-color: rgb(29, 29, 29, 0.4);
  --card-border-color: #313131;
  --card-box-shadow: 0 2px 25px rgba(238, 238, 238, 0.05);
}

:root {
  // Colors
  --ifm-color-primary: #00cd50;
  --ifm-color-primary-dark: #1554d8;
  --ifm-color-primary-darker: #144fcc;
  --ifm-color-primary-darkest: #1141a8;
  --ifm-color-primary-light: #3771eb;
  --ifm-color-primary-lighter: #437aed;
  --ifm-color-primary-lightest: #6793f0;
  --ifm-color-secondary-contrast-background: rgb(236, 236, 236);

  // Fonts
  --ifm-font-family-base: "Inter", system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --ifm-font-size-base: 1rem;
  --ifm-font-weight-bold: 800;
  --ifm-heading-font-family: "Funnel Display", sans-serif;
  --ifm-heading-font-weight: 400;

  // Base
  --ifm-global-radius: 0rem;

  // Code
  --ifm-code-background: rgb(226, 226, 226);
  --ifm-code-font-size: 80%;
  --ifm-pre-padding: 1rem;

  --ifm-leading-desktop: 1.75;
  --ifm-leading: calc(var(--ifm-leading-desktop) * 1rem);

  --ifm-toc-border-color: transparent;
  --ifm-toc-padding-horizontal: 0.5rem;

  --ifm-menu-color-background-active: transparent;
  --ifm-menu-link-padding-horizontal: 1rem;
  --ifm-menu-link-padding-vertical: 0.5rem;

  --ifm-navbar-height: 80px;
  --ifm-navbar-padding-horizontal: calc(var(--ifm-spacing-horizontal) * 1);
  --ifm-navbar-padding-vertical: calc(var(--ifm-spacing-vertical) * 0.5);

  // Footer
  --ifm-footer-background-color: var(--ifm-background-color);
  --docs-title-border: #e0e0e0;

  --ifm-alert-border-left-width: 2px;

  /* Horizontal Rules. */
  --ifm-breadcrumb-spacing: 0rem;
  --ifm-breadcrumb-color-active: inherit;
  --ifm-breadcrumb-item-background-active: transparent;
  --ifm-breadcrumb-separator: none;
  --ifm-menu-color: var(--ifm-color-emphasis-700);
  --ifm-menu-color-active: var(--ifm-color-primary);
}

html[data-theme="dark"] {
  --ifm-color-primary: #00cd50;
  --ifm-background-color: #000000;
  --ifm-background-surface-color: var(--ifm-background-color);
  --docs-title-border: #343434;
  --ifm-toc-border-color: transparent;
  --ifm-menu-color: var(--ifm-color-emphasis-400);
}

.markdown {
  h1:first-child {
    --ifm-h1-font-size: 2.5rem;
  }
}
