.crumbs {
  font-size: 12px;
  list-style: none;
  margin: 30px 0 10px;
  color: rgb(109, 109, 109);
  padding: 0;

  a {
    color: rgb(109, 109, 109);
  }

  li {
    display: inline-block;
    margin-right: 10px;
    &:after {
      content: " /";
      display: inline-block;
      margin-left: 10px;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
  }

  @media (min-width: 997px) {
    padding: 0 calc(var(--ifm-spacing-horizontal) * 2);
  }
}
